* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 10px;
}

body {
    font-family:"Poppins", sans-serif;
}

#person {
    height: 100vh;
    width: 100%;

    display: flex;
    align-items: center;

    background-color: black;
    
}

.person-content {
    
    height: 100%;
    width: 50%;
    
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;   

    background-color: #000000;
}
